## Este fichero nos permite procesar los datos del calendario de festivos creado en excel

In [31]:
#Libraries
import pandas as pd

In [32]:
#Cargar de los csv de cada estacion como df
df_festivos=pd.read_csv('../data/interim/base_calendario_final.csv')
df_COVID=pd.read_csv('../data/interim/COVID_DAY.csv', delimiter=';')

df_festivos

           fecha  findesemana  festivos  lectivos
0     2019-01-01            0         1         0
1     2019-01-02            0         0         0
2     2019-01-03            0         0         0
3     2019-01-04            0         0         0
4     2019-01-05            1         0         0
...          ...          ...       ...       ...
2095  2024-09-26            0         0         1
2096  2024-09-27            0         0         1
2097  2024-09-28            1         0         0
2098  2024-09-29            1         0         0
2099  2024-09-30            0         0         1

[2100 rows x 4 columns]

In [33]:
df_COVID

           FECHA  COVID  Unnamed: 2
0     01/01/2019      0         NaN
1     02/01/2019      0         NaN
2     03/01/2019      0         NaN
3     04/01/2019      0         NaN
4     05/01/2019      0         NaN
...          ...    ...         ...
2095  26/09/2024      0         NaN
2096  27/09/2024      0         NaN
2097  28/09/2024      0         NaN
2098  29/09/2024      0         NaN
2099  30/09/2024      0         NaN

[2100 rows x 3 columns]

In [34]:
df_COVID = df_COVID.drop('Unnamed: 2',axis=1)

In [35]:
df_festivos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2100 entries, 0 to 2099
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        2100 non-null   object
 1   findesemana  2100 non-null   int64
 2   festivos     2100 non-null   int64
 3   lectivos     2100 non-null   int64
dtypes: int64(3), object(1)
memory usage: 65.8+ KB

In [36]:
df_COVID.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2100 entries, 0 to 2099
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   FECHA   2100 non-null   object
 1   COVID   2100 non-null   int64
dtypes: int64(1), object(1)
memory usage: 32.9+ KB

In [37]:
#Transformamos la variable de tipo objeto a tipo fecha
df_festivos['fecha'] = pd.to_datetime(df_festivos['fecha'])
df_COVID['FECHA'] = pd.to_datetime(df_COVID['FECHA'], format='%d/%m/%Y')

In [38]:
df_COVID

          FECHA  COVID
0    2019-01-01      0
1    2019-01-02      0
2    2019-01-03      0
3    2019-01-04      0
4    2019-01-05      0
...         ...    ...
2095 2024-09-26      0
2096 2024-09-27      0
2097 2024-09-28      0
2098 2024-09-29      0
2099 2024-09-30      0

[2100 rows x 2 columns]

In [40]:
# Unir los DataFrames, en funcion de la fecha
df_calendar = pd.merge(df_festivos, df_COVID, left_on='fecha', right_on='FECHA', how='inner')

In [42]:
df_calendar=df_calendar.drop('FECHA', axis=1)
df_calendar

          fecha  findesemana  festivos  lectivos  COVID
0    2019-01-01            0         1         0      0
1    2019-01-02            0         0         0      0
2    2019-01-03            0         0         0      0
3    2019-01-04            0         0         0      0
4    2019-01-05            1         0         0      0
...         ...          ...       ...       ...    ...
2095 2024-09-26            0         0         1      0
2096 2024-09-27            0         0         1      0
2097 2024-09-28            1         0         0      0
2098 2024-09-29            1         0         0      0
2099 2024-09-30            0         0         1      0

[2100 rows x 5 columns]

In [43]:
#Guardamos los datos en un CSV
df_calendar.to_csv("../data/Final_Data/df_calendar.csv", index = False)