## Adquisicion de datos de la AEMET

In [1]:
#Librerias
import requests
import pandas as pd
import json

In [277]:
# Tu API Key de AEMET
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhbGJhZWJhdWx1ekBob3RtYWlsLmNvbSIsImp0aSI6IjU3YWYzYTM1LTdhOTMtNDg3Ny05MWU4LWY3NDM1NWU4MzU2ZCIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzI3NDU3NzA3LCJ1c2VySWQiOiI1N2FmM2EzNS03YTkzLTQ4NzctOTFlOC1mNzQzNTVlODM1NmQiLCJyb2xlIjoiIn0.KjwIE5_jQfA-JovEc8nfN9kcJ_lDwrQf6mweqSN5KvQ"

# Creamos un listado con las comunidades y su id
'''
estaciones_ids = [
    {"comunidad": "Andalucía", "id": "2003"},
    {"comunidad": "Aragón", "id": "2001"},
    {"comunidad": "Asturias", "id": "3301"},
    {"comunidad": "Islas Baleares", "id": "0701"},
    {"comunidad": "Canarias", "id": "3002"},
    {"comunidad": "Cantabria", "id": "3901"},
    {"comunidad": "Castilla y León", "id": "4701"},
    {"comunidad": "Castilla-La Mancha", "id": "4501"},
    {"comunidad": "Cataluña", "id": "0801"},
    {"comunidad": "Extremadura", "id": "0601"},
    {"comunidad": "Galicia", "id": "1501"},
    {"comunidad": "La Rioja", "id": "2601"},
    {"comunidad": "Madrid", "id": "2801"},
    {"comunidad": "Murcia", "id": "3001"},
    {"comunidad": "Navarra", "id": "3101"},
    {"comunidad": "País Vasco", "id": "0101"},
    {"comunidad": "Valencia", "id": "4601"}
]
'''


# Definir el intervalo de fechas
start_date = "2023-09-01T00:00:00UTC" 
end_date = "2023-09-02T23:59:59UTC"

In [555]:
#Almacen de datos
df21_clima = pd.DataFrame(columns=['fecha','indicativo','tmed','prec','velmedia'])

In [552]:
# URL para listar estaciones

url_estaciones = f'https://opendata.aemet.es/opendata/sh/54fd87c1/?api_key={api_key}'
# Hacer la solicitud
response = requests.get(url_estaciones)

# Comprobar el código de estado
if response.status_code == 200:
    print("Solicitud exitosa.")
    print(response.json())
    json_text=response.json()
else:
    print(f"Error: {response.status_code}")
    print(response.text)

Solicitud exitosa.
[{'fecha': '2023-01-02', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '11,2', 'prec': '0,0', 'tmin': '6,7', 'horatmin': '00:30', 'tmax': '15,6', 'horatmax': '12:00', 'hrMedia': '83', 'hrMax': '90', 'horaHrMax': 'Varias', 'hrMin': '77', 'horaHrMin': 'Varias'}, {'fecha': '2023-01-03', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '12,0', 'prec': '0,0', 'tmin': '7,3', 'horatmin': '23:59', 'tmax': '16,6', 'horatmax': '14:30', 'hrMedia': '70', 'hrMax': '90', 'horaHrMax': '23:59', 'hrMin': '51', 'horaHrMin': '11:50'}, {'fecha': '2023-01-04', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '10,3', 'tmin': '4,8', 'horatmin': '23:59', 'tmax': '15,8', 'horatmax': '14:50', 'hrMedia': '80', 'hrMax': '90', 'horaHrMax': 'Varias', 'hrMin': '53', 'horaHrMin': '14:50'}, {'fecha': '2023-01-05', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '9,3', 'tmin': '3,4', 'horatmin': '23:59', 'tmax': '15,2', 'horatmax': '14:20', 'hrMedia': '80', 'hrMax': '90', 'horaHrMax': 'Varias', 'hrMin': '56', 'horaHrMin': '15:00'}, {'fecha': '2023-01-06', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '8,1', 'tmin': '1,8', 'horatmin': '06:10', 'tmax': '14,4', 'horatmax': '14:00', 'hrMedia': '80', 'hrMax': '90', 'horaHrMax': 'Varias', 'hrMin': '61', 'horaHrMin': '13:10'}, {'fecha': '2023-01-07', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '10,2', 'tmin': '3,2', 'horatmin': '00:10', 'tmax': '17,1', 'horatmax': '13:40', 'hrMedia': '50', 'hrMax': '90', 'horaHrMax': 'Varias', 'hrMin': '34', 'horaHrMin': '13:20'}, {'fecha': '2023-01-08', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '12,8', 'tmin': '9,2', 'horatmin': '08:00', 'tmax': '16,4', 'horatmax': '23:00', 'hrMedia': '66', 'hrMax': '75', 'horaHrMax': '08:10', 'hrMin': '48', 'horaHrMin': '00:00'}, {'fecha': '2023-01-09', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '11,0', 'tmin': '5,2', 'horatmin': '23:20', 'tmax': '16,7', 'horatmax': '14:50', 'hrMedia': '75', 'hrMax': '90', 'horaHrMax': '23:59', 'hrMin': '41', 'horaHrMin': '15:10'}, {'fecha': '2023-01-10', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '9,3', 'tmin': '4,2', 'horatmin': '04:00', 'tmax': '14,4', 'horatmax': '14:40', 'hrMedia': '75', 'hrMax': '90', 'horaHrMax': 'Varias', 'hrMin': '53', 'horaHrMin': '10:50'}, {'fecha': '2023-01-11', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '9,0', 'tmin': '3,5', 'horatmin': '04:20', 'tmax': '14,5', 'horatmax': '12:30', 'hrMedia': '79', 'hrMax': '90', 'horaHrMax': 'Varias', 'hrMin': '61', 'horaHrMin': '12:50'}, {'fecha': '2023-01-12', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '9,2', 'tmin': '4,1', 'horatmin': '23:59', 'tmax': '14,4', 'horatmax': '15:00', 'hrMedia': '77', 'hrMax': '90', 'horaHrMax': 'Varias', 'hrMin': '52', 'horaHrMin': '14:40'}, {'fecha': '2023-01-13', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '10,0', 'tmin': '3,3', 'horatmin': '03:50', 'tmax': '16,6', 'horatmax': '15:00', 'hrMedia': '70', 'hrMax': '90', 'horaHrMax': 'Varias', 'hrMin': '39', 'horaHrMin': '14:40'}, {'fecha': '2023-01-14', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '10,4', 'tmin': '2,5', 'horatmin': '04:50', 'tmax': '18,3', 'horatmax': '14:10', 'hrMedia': '71', 'hrMax': '90', 'horaHrMax': 'Varias', 'hrMin': '40', 'horaHrMin': '14:10'}, {'fecha': '2023-01-15', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '10,6', 'tmin': '6,5', 'horatmin': '22:00', 'tmax': '14,7', 'horatmax': '11:30', 'hrMedia': '80', 'hrMax': '90', 'horaHrMax': 'Varias', 'hrMin': '47', 'horaHrMin': '00:30'}, {'fecha': '2023-01-16', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '9,5', 'tmin': '5,3', 'horatmin': '03:30', 'tmax': '13,7', 'horatmax': '14:20', 'hrMedia': '55', 'hrMax': '90', 'horaHrMax': 'Varias', 'hrMin': '47', 'horaHrMin': '12:20'}, {'fecha': '2023-01-17', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '11,6', 'tmin': '6,6', 'horatmin': '23:30', 'tmax': '16,5', 'horatmax': '13:50', 'hrMedia': '44', 'hrMax': '72', 'horaHrMax': '00:00', 'hrMin': '36', 'horaHrMin': '20:40'}, {'fecha': '2023-01-18', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '6,6', 'tmin': '1,1', 'horatmin': '06:40', 'tmax': '12,2', 'horatmax': '15:00', 'hrMedia': '68', 'hrMax': '78', 'horaHrMax': 'Varias', 'hrMin': '46', 'horaHrMin': '22:10'}, {'fecha': '2023-01-19', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '5,6', 'tmin': '-1,6', 'horatmin': '07:00', 'tmax': '12,9', 'horatmax': '14:20', 'hrMedia': '55', 'hrMax': '80', 'horaHrMax': '07:00', 'hrMin': '36', 'horaHrMin': '12:40'}, {'fecha': '2023-01-20', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '6,4', 'tmin': '1,2', 'horatmin': '06:00', 'tmax': '11,6', 'horatmax': '13:20', 'hrMedia': '61', 'hrMax': '87', 'horaHrMax': '20:40', 'hrMin': '43', 'horaHrMin': '12:50'}, {'fecha': '2023-01-21', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '5,8', 'tmin': '-0,1', 'horatmin': '21:40', 'tmax': '11,6', 'horatmax': '13:00', 'hrMedia': '37', 'hrMax': '61', 'horaHrMax': '22:20', 'hrMin': '29', 'horaHrMin': 'Varias'}, {'fecha': '2023-01-22', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '3,6', 'tmin': '-3,6', 'horatmin': '07:00', 'tmax': '10,8', 'horatmax': '14:30', 'hrMedia': '54', 'hrMax': '77', 'horaHrMax': '07:50', 'hrMin': '38', 'horaHrMin': 'Varias'}, {'fecha': '2023-01-23', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '3,6', 'tmin': '-2,3', 'horatmin': '06:40', 'tmax': '9,4', 'horatmax': '14:30', 'hrMedia': '66', 'hrMax': '77', 'horaHrMax': '18:30', 'hrMin': '46', 'horaHrMin': '13:50'}, {'fecha': '2023-01-24', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '5,3', 'tmin': '2,5', 'horatmin': '00:40', 'tmax': '8,1', 'horatmax': '15:20', 'hrMedia': '68', 'hrMax': '88', 'horaHrMax': '09:30', 'hrMin': '50', 'horaHrMin': '03:40'}, {'fecha': '2023-01-25', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '8,2', 'tmin': '0,6', 'horatmin': '23:59', 'tmax': '15,7', 'horatmax': '14:20', 'hrMedia': '55', 'hrMax': '81', 'horaHrMax': '19:30', 'hrMin': '36', 'horaHrMin': 'Varias'}, {'fecha': '2023-01-26', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '5,2', 'tmin': '-0,4', 'horatmin': '02:50', 'tmax': '10,7', 'horatmax': '14:20', 'hrMedia': '75', 'hrMax': '90', 'horaHrMax': '03:50', 'hrMin': '54', 'horaHrMin': '11:10'}, {'fecha': '2023-01-27', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '4,6', 'tmin': '-0,3', 'horatmin': '01:00', 'tmax': '9,5', 'horatmax': '13:10', 'hrMedia': '63', 'hrMax': '90', 'horaHrMax': '00:30', 'hrMin': '50', 'horaHrMin': '11:10'}, {'fecha': '2023-01-28', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '4,2', 'tmin': '-0,2', 'horatmin': '00:40', 'tmax': '8,5', 'horatmax': '13:50', 'hrMedia': '58', 'hrMax': '80', 'horaHrMax': '00:40', 'hrMin': '50', 'horaHrMin': '14:30'}, {'fecha': '2023-01-29', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '5,7', 'tmin': '-1,1', 'horatmin': '23:59', 'tmax': '12,5', 'horatmax': '15:00', 'hrMedia': '60', 'hrMax': '85', 'horaHrMax': 'Varias', 'hrMin': '40', 'horaHrMin': '14:00'}, {'fecha': '2023-01-30', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '5,7', 'tmin': '-1,6', 'horatmin': '01:50', 'tmax': '13,0', 'horatmax': '14:30', 'hrMedia': '71', 'hrMax': '89', 'horaHrMax': '02:40', 'hrMin': '43', 'horaHrMin': '14:30'}, {'fecha': '2023-01-31', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '6,6', 'tmin': '0,0', 'horatmin': '06:00', 'tmax': '13,3', 'horatmax': '14:50', 'hrMedia': '69', 'hrMax': '88', 'horaHrMax': '23:40', 'hrMin': '40', 'horaHrMin': '14:10'}, {'fecha': '2023-02-01', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '7,4', 'prec': '0,0', 'tmin': '0,7', 'horatmin': '02:00', 'tmax': '14,1', 'horatmax': '14:40', 'hrMedia': '72', 'hrMax': '90', 'horaHrMax': 'Varias', 'hrMin': '46', 'horaHrMin': '12:00'}, {'fecha': '2023-02-02', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '7,5', 'prec': '0,0', 'tmin': '0,2', 'horatmin': '03:00', 'tmax': '14,8', 'horatmax': '14:20', 'hrMedia': '73', 'hrMax': '91', 'horaHrMax': '02:20', 'hrMin': '50', 'horaHrMin': '12:30'}, {'fecha': '2023-02-03', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '7,7', 'prec': '0,0', 'tmin': '0,3', 'horatmin': '06:30', 'tmax': '15,1', 'horatmax': '14:30', 'hrMedia': '74', 'hrMax': '90', 'horaHrMax': 'Varias', 'hrMin': '49', 'horaHrMin': '13:00'}, {'fecha': '2023-02-04', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '11,4', 'prec': '0,0', 'tmin': '0,6', 'horatmin': '07:00', 'tmax': '22,3', 'horatmax': '14:10', 'hrMedia': '57', 'hrMax': '91', 'horaHrMax': '00:00', 'hrMin': '29', 'horaHrMin': '14:40'}, {'fecha': '2023-02-05', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '9,0', 'tmin': '2,2', 'horatmin': '07:00', 'tmax': '15,9', 'horatmax': '11:40', 'hrMedia': '64', 'hrMax': '83', 'horaHrMax': '20:30', 'hrMin': '43', 'horaHrMin': '12:50'}, {'fecha': '2023-02-06', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '8,0', 'tmin': '5,9', 'horatmin': '12:00', 'tmax': '10,1', 'horatmax': '02:00', 'hrMedia': '69', 'hrMax': '86', 'horaHrMax': '16:50', 'hrMin': '49', 'horaHrMin': 'Varias'}, {'fecha': '2023-02-07', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '7,7', 'tmin': '6,0', 'horatmin': '02:30', 'tmax': '9,4', 'horatmax': '17:00', 'hrMedia': '85', 'hrMax': '92', 'horaHrMax': '13:00', 'hrMin': '66', 'horaHrMin': '00:00'}, {'fecha': '2023-02-08', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '7,8', 'tmin': '5,4', 'horatmin': '23:59', 'tmax': '10,1', 'horatmax': '15:00', 'hrMedia': '83', 'hrMax': '90', 'horaHrMax': 'Varias', 'hrMin': '73', 'horaHrMin': '15:00'}, {'fecha': '2023-02-09', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '6,9', 'prec': '0,0', 'tmin': '2,5', 'horatmin': '23:59', 'tmax': '11,3', 'horatmax': '15:20', 'hrMedia': '69', 'hrMax': '89', 'horaHrMax': '23:50', 'hrMin': '48', 'horaHrMin': '15:40'}, {'fecha': '2023-02-10', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '6,1', 'prec': '0,0', 'tmin': '0,1', 'horatmin': 'Varias', 'tmax': '12,1', 'horatmax': '14:40', 'hrMedia': '68', 'hrMax': '91', 'horaHrMax': 'Varias', 'hrMin': '38', 'horaHrMin': '11:50'}, {'fecha': '2023-02-11', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '6,0', 'prec': '0,0', 'tmin': '-0,3', 'horatmin': '06:50', 'tmax': '12,2', 'horatmax': '13:50', 'hrMedia': '79', 'hrMax': '91', 'horaHrMax': '00:00', 'hrMin': '59', 'horaHrMin': '14:50'}, {'fecha': '2023-02-12', 'indicativo': '0255B', 'nombre': 'SANTA SUSANNA', 'provincia': 'BARCELONA', 'altitud': '40', 'tmed': '6,1', 'prec': '0,0', 'tmin': '-0,3', 'horatmin': '06:30', 'tmax': '12,5', 'horatmax': '12:30', 'hrMedia': '71', 'hrMax': '92', 'horaHrMax': '07:00', 'hrMin': '46', 'horaHrMin': '12:20'}]

In [553]:
df21 = pd.DataFrame(json_text, columns=['fecha','indicativo','tmed','prec','velmedia'])
df21_clima = pd.concat([df21_clima, df21])

df21_clima.shape

(1143, 5)

In [554]:
df20_clima.to_csv("../data/processed/df20_clima.csv", index = False)

In [218]:
df7_clima=df7_clima.drop_duplicates()
df7_clima.shape

(1892, 5)

In [371]:
df13_clima

          fecha indicativo  tmed prec velmedia
0    2019-01-01      0149D   6,0  0,0      NaN
1    2019-01-02      0149D   3,0  0,0      NaN
2    2019-01-03      0149D   2,6  0,0      NaN
3    2019-01-04      0149D   3,2  0,0      NaN
4    2019-01-05      0149D   2,6  0,0      NaN
..          ...        ...   ...  ...      ...
179  2022-12-27      0149D   9,7  0,0      NaN
180  2022-12-28      0149D   9,2  0,0      NaN
181  2022-12-29      0149D   8,8  0,0      NaN
182  2022-12-30      0149D  10,4  0,0      NaN
183  2022-12-31      0149D  12,5  0,0      NaN

[1226 rows x 5 columns]

In [8]:
df1_clima = pd.concat([df1_clima, df1])

In [82]:
df1_clima

          fecha  tmed
0    2023-07-01  22,6
1    2023-07-02  24,6
2    2023-07-03  24,6
3    2023-07-04  25,1
4    2023-07-05  24,4
..          ...   ...
179  2019-12-27  12,0
180  2019-12-28  11,0
181  2019-12-29  12,3
182  2019-12-30  11,6
183  2019-12-31  10,8

[1729 rows x 2 columns]

In [83]:
df['fecha'] = pd.to_datetime(df['fecha'] , dayfirst=False)

In [85]:
df_temp_sorted = df.sort_values(by='fecha')

# Resetear el índice si es necesario
df_sorted = df_temp_sorted.reset_index(drop=True)

In [86]:
df_temp_sorted

        fecha  tmed
0  2019-01-01  11,4
1  2019-01-02  11,2
2  2019-01-03   9,2
3  2019-01-04   8,4
4  2019-01-05  11,4
..        ...   ...
81 2024-09-20  20,0
82 2024-09-21  20,6
83 2024-09-22  21,2
84 2024-09-23  20,8
85 2024-09-24  22,4

[1729 rows x 2 columns]